header{
    height: 80px;
    background-color: #fff;
    display: flex;

    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header img{
    height: 50px;
}

main{
    padding-top: 100px;
}