html{
    scroll-behavior: smooth;
}

header{

    height: 80px;
    background-color: #fff;
    display: flex;

    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav{

    position: absolute;
    right: 60px;
    display: flex;

    gap: 30px;

}

nav a{

    text-decoration: none;
    color: black;
    font-size: 1rem;

    font-weight: 600;
    transition: 0.3s ease;
}

nav a:hover{
    color: purple;
}

header img{

    height: 80px;

}

header p{
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-left: 10px;

    font-weight: 700;
    color: goldenrod;
    margin-right: 10px;
}

.section-divider{
    width: 80%;
    margin: 80px auto;
    text-align: center;

    border-top: 2px solid purple;
    position: relative;
}

.section-divider span{
    padding: 0 20 px;
    position: relative;
    top: -12px;

    font-size: 1.2rem;
    font-weight: bold;
    color: purple;
    background-color: #fff;
}

main{

    padding-top: 50px;

}

#hero{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 150px 10% 50px;
    gap: 50px;

}

.description{

    flex: 1;

}

.description h1{

    font-size: 4rem;
    margin-bottom: 20px;

}

.description span{

    color: purple;

}

.description p{

    font-size: 1.2rem;
    line-height: 1.8;

}

.hero-image{

    flex: 1;
    display: flex;
    justify-content: center;

}

.hero-image img{

    width: 600px;
    max-width: 100%;

}

#generate{

    padding: 80px 10%;
    text-align: center;

}

#generate h2{
    font-size: 2.5rem;
    color: goldenrod;
}

#akan-form{
    width: 500px;
    margin: auto;
    display: flex;

    flex-direction: column;
}

#akan-form label{
    text-align: left;
    font-size: 1rem;
    font-weight: 600;

    margin-top: 3px;
    margin-bottom: 8px;
    color: green;
}

input::placeholder{

    color: goldenrod;
    font-size: 16px;
    font-style: italic;

    opacity: 1;
}

#gender{

    padding: 15px;
    font-size: 1rem;
    color: goldenrod;

    opacity: 1;
    font-style: italic;
    font-size: 15px;
}

#gender option{
    font-size: 1rem;
    color: goldenrod;
    background-color: white;
}

#akan-form input,

#akan-form select{
    padding: 15px;
    margin-bottom: 25px;
    font-size: 1rem;

    border: 2px solid #ccc;
    border-radius: 10px;
}

#akan-form input:hover,
#akan-form select:hover{

    border-color: goldenrod;
}

/* when user clicks the field */

#akan-form input:focus,
#akan-form select:focus{

    outline: none;
    border-color: green;
}

#akan-form button{
    padding: 15px;
    border: none;
    border-radius: 10px;

    background-color: antiquewhite;
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s ease;
}

#akan-form button:hover{
    background-color: rgba(184, 134, 11);
}

#result{
    padding: 80px 10%;
    text-align: center;
}

#result h3{
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: goldenrod;
}

#result-container{
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

#history{

    padding-top: 50px;
    text-align: center;
}

#history h4{
    margin-bottom: 20px;
    color: goldenrod;
}

#empty-history{

    font-size: 1.1rem;
    color: green;
}

#history-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-card{
    background-color: white;
    padding: 25px;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    text-align: left;

}

.history-card h4{
    color: greenyellow;
    margin-bottom: 15px;
}

.history-card p{
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.5;
}

/* RESPONSIVE DESIGN */

@media (max-width: 768px){
    
    header{
        height: auto;
        flex-direction: column;
        padding: 15px 0;
    }

    header img{
        height: 60px;
    }

    header p{
        margin: 5px 0;
        font-size: 1.2rem;
    }

    nav{
        position: fixed;
        gap: 15px;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a{
        font-size: 0.9rem;
    }

    maiin{
        padding-top: 180px;
    }

    #hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 10%;
    }

    .description h1{
        font-size: 2.5rem;
    }

    .description p{
        font-size: 1 rem;
    }

    .hero-image img{
        width: 100%;
        max-width: 400px;
    }

    .section-divider{
        width: 90%;
    }

    .section-divider span{
        font-size: 1rem;
    }

    #generate h2{
        font-size: 2rem;
    }

    #akan-form{
        width: 100%;
        max-width: 500px;
    }

    #akan-form input,

    #akan-form select,

    #akan-form button{

        font-size: 0.95rem;
    }

    #result h3{
        font-size: 2rem;
    }

    #result-container{
        padding: 20px;
    }

    
}